<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Japanese Name</th>
      <th>First Category</th>
      <th>Second Category</th>
      <th>Lunch Price</th>
      <th>Dinner Price</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(item => { %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.japaneseName %></td>
      <td><%= item.firstCategory %></td>
      <td><%= item.secondCategory %></td>
      <td><%= item.lunchPrice %></td>
      <td><%= item.dinnerPrice %></td>
      <td>
        <a href="https://maps.google.com/?q=<%= item.location.coordinates[1] %>,<%= item.location.coordinates[0] %>">Google Map</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- include footer -->